{% extends 'newspage/base.html' %}


{% block content %}
<div class="container">
    <div class="jumbotron">
        <h2>NewsPage 뉴스 목록</h2>
        <h4>
            <br>
            <ul>
                {% for post in post_list %}
                <a href="{% url 'newspage:post_detail' post.pk %}">
                    <li>
                        {{post.title}}
                    </li>
                <br>
                </a>
                {% endfor %}
            </ul>
        </h4>
    </div>
</div>

{% endblock %}